[submodule "libraries/maximilian"]
	path = libraries/maximilian
	url = https://github.com/micknoise/Maximilian.git
[submodule "Maximilian"]
	path = Maximilian
	url = https://github.com/micknoise/Maximilian
